.footer {
    background-color: #343a40;
    color: white;
    padding: 30px 0;
    text-align: center;
    font-size: 1rem;
}

.footer__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer__copyright {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #ccc;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer__social-link {
    display: inline-block;
    transition: transform 0.3s ease;
}

.footer__social-link:hover {
    transform: scale(1.2);
}

.footer__social-icon {
    width: 30px;
    height: 30px;
     opacity: 1;
    transform: translateY(0);
}