.menu {
	width: calc(100vw - 100px);
	height: 100%;
	list-style: none;
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}
.menu__item--button {
	border: none;
  	font: inherit;
  	color: inherit;
  	background-color: transparent;
}
.menu__link {
	text-decoration: none;	
	color: black;
	transition: 0.5s;
}

.menu__link:hover {
	color: forestgreen;
}